.custom-textfield {
    -fx-text-fill: #ffffff;
}

.custom-combobox{
    -fx-prompt-text-fill: #C5C5C5;
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}


.date-picker {
    -fx-control-inner-background:  #110050;
}

.date-picker .text-field {
    -fx-prompt-text-fill: #C5C5C5;
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

* {
	-fx-primary-color: #007acc;
	-fx-secondary-color: #4B6EAF;

	-fx-focus-color: -fx-secondary-color;
}

.tab-header-area .tab-header-background {
 	-fx-background-color: -fx-primary-color;
}
.tab-pane .tab:selected {
	-fx-background-color: -fx-secondary-color;
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}
.tab .tab-label { 
 	-fx-alignment: CENTER;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-padding: 0 0 0 0;
}
.tab-pane:top *.tab-header-area {
	-fx-padding: 0 0 0 0;
	
}
.tab-pane {
	-fx-background-color: transparent;
	-fx-tab-min-width: 100px;
	-fx-tab-min-height: 30px;
	-fx-tab-max-height: 30px;
}
.tab-pane .tab {
	-fx-background-color: transparent;
}
.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
 	-fx-border-width: 0;
	-fx-border-insets: 0 0 0 0;
	-fx-border-radius: 5;
}

c