.custom-textfield {
    -fx-text-fill: #ffffff;
}

.custom-combobox{
    -fx-prompt-text-fill: #C5C5C5;
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}


.date-picker {
    -fx-control-inner-background:  #110050;
}

.date-picker .text-field {
    -fx-prompt-text-fill: #C5C5C5;
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}